


@model MVCSpa.ViewModels.EmployeeViewModel

<div class="modal-header">
    <h5 class="modal-title">Edit Employee</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    @using (Html.BeginForm("EditEmployee", "Employees", FormMethod.Post, new { id = "editEmployeeForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

       
        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
        <input type="hidden" name="OldImageUrl" value="@Model.ImageUrl" />

        <div class="row">
            <div class="col-md-7">
                <h4>Employee Information</h4>
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.EmployeeName, new { @class = "control-label" })
                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.JoiningDate, new { @class = "control-label" })
                    @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.MobileNo, new { @class = "control-label" })
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.Salary, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.IsPermanent, new { @class = "control-label me-2" })
                    @Html.EditorFor(model => model.IsPermanent)
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.Departments, "DepartmentId", "DepartmentName"), "Select Department", new { @class = "form-control" })
                </div>

                <div class="form-group mb-2">
                    <img id="imageFile" src="@Url.Content("~/Images/" + Model.ImageUrl)" width="100" height="100" class="mb-2" /><br />
                    <input onchange="readUrl(this)" type="file" name="ProfileFile" id="ProfileFile" class="form-control" />
                </div>
            </div>

            <div class="col-md-5">
                <h4>Edit Academic</h4>
                <button onclick="AddAcademic()" type="button" class="btn btn-warning mb-2">Add Academic</button>
                @Html.Partial("_AddAcademics", Model.AcademicDetails)
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save Changes</button>
        </div>
    }
</div>

<script>

    function readUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imageFile").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }


    function AddAcademic() {
        var index = $("#ExTable tbody tr").length;
        var newRow = `
        <tr>
            <td>
                <input type="hidden" name="AcademicDetails[${index}].AcademicDetailId" value="0" />
                <input type="text" name="AcademicDetails[${index}].DegreeName" class="form-control" />
            </td>
            <td><input type="text" name="AcademicDetails[${index}].CGPA" class="form-control" /></td>
            <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)">Delete</button></td>
        </tr>`;
        $("#ExTable tbody").append(newRow);
    }

    function deleteRow(btn) {
        $(btn).closest('tr').remove();
        updateIndexes();
    }

    function updateIndexes() {
        $("#ExTable tbody tr").each(function (index) {
            $(this).find("input").each(function () {
                var name = $(this).attr("name");
                if (name) {
                    var newName = name.replace(/\[\d+\]/, "[" + index + "]");
                    $(this).attr("name", newName);
                }
            });
        });
    }


    $(document).ready(function () {
        $("#editEmployeeForm").on("submit", function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: $(this).attr('action'),
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.success) {
                        alert("Updated Successfully!");
                        location.reload();
                    } else {
                  
                        $("#modalContainer").html(res);
                    }
                },
                error: function () {
                    alert("Error saving data.");
                }
            });
        });
    });
</script>